.admin-error {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &_content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .content_title {
      font-family: Roboto;
      font-weight: 500;
      font-size: 75px;
      line-height: 88px;
      color: #cacedb;
    }
    .content_suptitle {
      font-size: 50px;
      line-height: 57px;
      color: #3d5170;
      margin-bottom: 10px;
    }
    .content_text {
      font-size: 20px;
      line-height: 23px;
      color: #818ea3;
      margin-bottom: 35px;
    }
  }
}
