$cursor: url(../../../assets/icons/Pointer.svg), pointer;
.admin-car-list {
  &.description {
    // height: auto;
    min-height: 290px;
  }
  .description {
    &_item {
      display: block;
      height: 100%;
      // min-height: 250px;
      table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;

        tbody tr:nth-child(odd) {
          background-color: #f9fafc;
        }
        td,
        th {
          padding: 10px;
          text-align: center;
        }
        td {
          color: #818ea3;
          font-size: 13px;
        }
        tr:hover {
          td {
            color: #007bff;
            font-weight: bold;
          }
          cursor: $cursor;
        }
      }
    }
  }
}
.pagination {
  display: flex;
  justify-content: center;
  padding: 15px;
  .page-item {
    list-style: none;
    margin: 0 2.5px;
    color: #007bff;
    width: 16px;
    text-align: center;
    &:hover {
      font-weight: bold;
      color: black;
      cursor: $cursor;
    }
    &.active {
      background-color: #007bff;
      border-radius: 100%;
      color: #fff;
    }
  }
}
