$green: #0ec261;
$black: #121212;
$light-gray: #eeeeee;
$dark-gray: #999999;
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.button {
  height: 48px;
  background: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
  background-blend-mode: darken;
  border-radius: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: $light-gray;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &:hover {
    background: linear-gradient(90deg, #0b934a 2.61%, #026e47 112.6%);
  }
}

.main {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
}
.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 17px;
  padding-top: 38px;
  background: #151b1f;
  color: white;
  width: 64px;
  height: 100vh;
  &__burger {
    span {
      display: block;
      width: 25px;
      height: 3px;
      background: $light-gray;
      margin: 4px 0;
      border-radius: 3px;
      transition: 0.55s;
    }
    &.active {
      transition: 0.55s;
      .menu-top {
        transform: rotate(50deg) translateY(5px) translateX(5px);
      }
      .menu-middle {
        opacity: 0;
      }
      .menu-bottom {
        transform: rotate(-410deg) translateX(5px) translateY(-5px);
      }
    }
  }
  &__lanSwitch {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $green;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
  }
  &__lanSwitch:hover {
    border: 1px solid $light-gray;
    color: $light-gray;
  }
}

.content {
  width: 50%;
  height: 100vh;

  padding: 31px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 35px;
      color: $green;
      text-decoration: none;
      pointer-events: none;
    }
    &__location {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: $dark-gray;
    }
    &__location::before {
      content: url(../img/Group.svg);
      position: relative;
      right: 5px;
      top: 5px;
    }
  }
  &__desc {
    display: flex;
    flex-direction: column;
    &__title {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 70px;
      line-height: 66px;
      margin-bottom: 34px;

      span {
        color: $green;
      }
    }
    &__text {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 26px;
      line-height: 30px;
      color: $dark-gray;
      margin-bottom: 60px;
    }
    &__button {
      width: 250px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: $black;
    span {
      color: $dark-gray;
    }
    &:not(span):hover {
      color: $green;
    }
  }
}
.menu {
  width: 50%;
  height: 100vh;
  padding: 64px;
  display: flex;
  align-items: center;
  background: $black;
  position: absolute;
  margin-left: 57px;
  &.disabled {
    display: none;
  }
  ul {
    margin-bottom: 38px;
  }
  &__content li {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 24px;
    color: #ffffff;
    list-style-type: none;
  }
  &__content__icons a {
    margin-right: 24px;
  }
  &__content__icons svg:hover .icon {
    fill: $green;
  }
  &__content li:hover {
    color: $green;
  }
}
.swiper-container {
  width: 100%;
  height: 100%;
}

.slider {
  width: 50%;
  height: 100vh;
  // display: flex;
  // align-items: center;
  // justify-content: center;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  }
  &__content {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%),
      url(../img/bg_slider_0.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 96px;

    &__title {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 47px;
      color: $light-gray;
      margin-bottom: 10px;
    }
    &__text {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 90%;
      color: $light-gray;
      margin-bottom: 32px;
    }
    &__button {
      width: 164px;
      background: linear-gradient(90deg, #13493f 0%, #0c7b1b 100%);
      border-radius: 4px;
    }
  }
  // .swiper-button-prev {
  //   left: 0;
  // }
  // .swiper-button-next {
  //   right: 0;
  // }
  // .swiper-button-prev,
  // .swiper-button-next {
  //   color: $light-gray;
  //   width: 53px;
  //   height: 100vh;
  //   top: 21px;
  // }
  // .swiper-button-prev:hover,
  // .swiper-button-next:hover {
  //   background: #0ec261;
  //   opacity: 0.2;
  //   cursor: url(../img/Pointer.svg), pointer;
  // }

  // .swiper-button-prev:after,
  // .swiper-button-next:after {
  //   font-size: 15px;
  // }
  // .swiper-pagination-bullet {
  //   background-color: $light-gray;
  // }
  // .swiper-pagination-bullet-active {
  //   background: $green;
  // }
}
.slider.disabled {
  &::before {
    z-index: 2;
  }
}

.order {
  width: 100%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  .content__header {
    // margin: 32px 64px;
    padding: 32px 64px;
    max-width: 1250px;
    margin: 0 auto;
    box-sizing: content-box;
  }
  .link {
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $dark-gray;
    &__content {
      box-sizing: content-box;

      display: flex;
      max-width: 1250px;
      padding: 7px 64px;
      margin: 0 auto;
    }
    span {
      background: url(../img/Vector.svg) no-repeat center center;
      width: 38px;
    }
    .active {
      color: $green;
    }
  }
  &__content {
    .wrapper {
      max-width: 1250px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 320px;
      > div {
        padding-top: 33px;
      }
      input:focus {
        outline: none;
      }
    }
    &__location {
      label {
        width: 91px;
        text-align: right;
        float: left;
        margin-right: 5px;
      }
      input {
        border: none;
        border-bottom: 1px solid $light-gray;
      }
    }

    &__cost {
      border-left: 1px solid $light-gray;
      height: 500px;
      padding-left: 30px;
    }
    .disabled {
      display: none;
    }
  }
}

@import "./sliderCustomValue.scss";
@import "./media.scss";
