@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button {
  height: 48px;
  background: -webkit-gradient(linear, left top, right top, color-stop(2.61%, #0ec261), color-stop(112.6%, #039f67));
  background: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
  background-blend-mode: darken;
  border-radius: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #eeeeee;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(2.61%, #0b934a), color-stop(112.6%, #026e47));
  background: linear-gradient(90deg, #0b934a 2.61%, #026e47 112.6%);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 17px;
  padding-top: 38px;
  background: #151b1f;
  color: white;
  width: 64px;
  height: 100vh;
}

.nav__burger span {
  display: block;
  width: 25px;
  height: 3px;
  background: #eeeeee;
  margin: 4px 0;
  border-radius: 3px;
  -webkit-transition: 0.55s;
  transition: 0.55s;
}

.nav__burger.active {
  -webkit-transition: 0.55s;
  transition: 0.55s;
}

.nav__burger.active .menu-top {
  -webkit-transform: rotate(50deg) translateY(5px) translateX(5px);
          transform: rotate(50deg) translateY(5px) translateX(5px);
}

.nav__burger.active .menu-middle {
  opacity: 0;
}

.nav__burger.active .menu-bottom {
  -webkit-transform: rotate(-410deg) translateX(5px) translateY(-5px);
          transform: rotate(-410deg) translateX(5px) translateY(-5px);
}

.nav__lanSwitch {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #0ec261;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
}

.nav__lanSwitch:hover {
  border: 1px solid #eeeeee;
  color: #eeeeee;
}

.content {
  width: 50%;
  height: 100vh;
  padding: 31px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__header__logo {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #0ec261;
  text-decoration: none;
  pointer-events: none;
}

.content__header__location {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

.content__header__location::before {
  content: url(../img/Group.svg);
  position: relative;
  right: 5px;
  top: 5px;
}

.content__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content__desc__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 66px;
  margin-bottom: 34px;
}

.content__desc__title span {
  color: #0ec261;
}

.content__desc__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  color: #999999;
  margin-bottom: 60px;
}

.content__desc__button {
  width: 250px;
}

.content__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #121212;
}

.content__footer span {
  color: #999999;
}

.content__footer:not(span):hover {
  color: #0ec261;
}

.menu {
  width: 50%;
  height: 100vh;
  padding: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #121212;
  position: absolute;
  margin-left: 57px;
}

.menu.disabled {
  display: none;
}

.menu ul {
  margin-bottom: 38px;
}

.menu__content li {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 24px;
  color: #ffffff;
  list-style-type: none;
}

.menu__content__icons a {
  margin-right: 24px;
}

.menu__content__icons svg:hover .icon {
  fill: #0ec261;
}

.menu__content li:hover {
  color: #0ec261;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.slider {
  width: 50%;
  height: 100vh;
  position: relative;
}

.slider::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.slider__content {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000)), url(../img/bg_slider_0.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%), url(../img/bg_slider_0.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 0 96px;
}

.slider__content__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #eeeeee;
  margin-bottom: 10px;
}

.slider__content__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 90%;
  color: #eeeeee;
  margin-bottom: 32px;
}

.slider__content__button {
  width: 164px;
  background: -webkit-gradient(linear, left top, right top, from(#13493f), to(#0c7b1b));
  background: linear-gradient(90deg, #13493f 0%, #0c7b1b 100%);
  border-radius: 4px;
}

.slider.disabled::before {
  z-index: 2;
}

.order {
  width: 100%;
}

.order .content__header {
  padding: 32px 64px;
  max-width: 1250px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.order .link {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

.order .link__content {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1250px;
  padding: 7px 64px;
  margin: 0 auto;
}

.order .link span {
  background: url(../img/Vector.svg) no-repeat center center;
  width: 38px;
}

.order .link .active {
  color: #0ec261;
}

.order__content .wrapper {
  max-width: 1250px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 320px;
      grid-template-columns: 1fr 320px;
}

.order__content .wrapper > div {
  padding-top: 33px;
}

.order__content .wrapper input:focus {
  outline: none;
}

.order__content__location label {
  width: 91px;
  text-align: right;
  float: left;
  margin-right: 5px;
}

.order__content__location input {
  border: none;
  border-bottom: 1px solid #eeeeee;
}

.order__content__cost {
  border-left: 1px solid #eeeeee;
  height: 500px;
  padding-left: 30px;
}

.order__content .disabled {
  display: none;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev,
.swiper-button-next {
  color: #eeeeee;
  width: 53px;
  height: 100vh;
  top: 21px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: #0ec261;
  opacity: 0.2;
  cursor: url(../img/Pointer.svg), pointer;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 15px;
}

.swiper-pagination-bullet {
  background-color: #eeeeee;
}

.swiper-pagination-bullet-active {
  background: #0ec261;
}

@media (max-width: 1023px) {
  .content,
  .menu {
    width: 100%;
  }
  .content__content li,
  .menu__content li {
    font-size: 28px;
    line-height: 33px;
  }
  .slider {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav {
    position: absolute;
    top: 20px;
    background: none;
    height: auto;
    padding: 0;
    z-index: 1;
  }
  .nav span {
    background: #121212;
  }
  .nav .active span {
    background: #eeeeee;
  }
  .nav__lanSwitch {
    display: none;
  }
  .content {
    padding: 0;
  }
  .content__header {
    padding: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .content__desc__title {
    font-size: 9.8vw;
    line-height: normal;
    padding: 0 16px;
    margin-bottom: 16px;
  }
  .content__desc__text {
    font-size: 5.5vw;
    padding: 0 16px;
    line-height: 21px;
    line-height: normal;
  }
  .content__desc__button {
    margin-left: 16px;
  }
  .content__footer {
    background: #121212;
    padding: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    color: #0ec261;
  }
  .content__footer span {
    color: #eeeeee;
    margin-top: 8px;
  }
  .menu {
    margin: 0;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .menu__content li {
    font-size: 22px;
    line-height: 26px;
  }
  .order .content__header {
    margin: 0;
    padding: 16px;
  }
  .order .link__content {
    padding: 7px 16px;
    font-size: 10px;
  }
}

@media (max-width: 340px) {
  .content__desc__button {
    width: 100%;
    border-radius: 0;
    margin: 0;
  }
}
/*# sourceMappingURL=main.css.map */